{{ define "pages/about.html" }}
{{ template "base" . }}
<div class="container mx-auto max-w-4xl py-8 min-h-screen">
  <article class="prose prose-lg mx-auto text-center">
    <p>If I had to write a book, it'd be written in brazilian portuguese. I am running a website in some sort of cloud
      though. Browsers smartphones tablets fridges bots drones smartwatches AI models missiles, we all think in american
      english bytes, our backbones de facto language, to Isaac Newtows delight.</p>
  </article>
</div>
{{ template "footer" . }}
{{ end }}
