{{ define "pages/index.html" }}
{{ template "base" . }}
<div class="bg-gray-100 flex flex-col items-center justify-center p-4 min-h-screen">
  <div class="main max-w-md w-full text-center">
    <img class="me_pic rounded-full mx-auto mb-6 h-48 w-48 object-cover" src="images/me.jpeg" alt="Hardcore Emocore">
    <h1 class="text-4xl sm:text-5xl font-extrabold text-gray-900 mb-2">Hi, I'm Arlindo!</h1>
    <p class="slide text-xl text-gray-700">Greetings from Brazil. I built this website for speaking my mind.</p>
    <p class="slide text-xl text-gray-700 mt-2">Maybe you should do the same.</p>
  </div>
</div>
{{ template "footer" . }}
{{ end }}
