{{ define "pages/thankyou.html" }}
{{ template "base" . }}
<div class="bg-gray-100 flex flex-col items-center justify-center p-4 min-h-screen">
  <div class="main max-w-md w-full text-center">
    <img class="me_pic mx-auto  object-cover" src="/images/thankyou.jpg" alt="TY" height="200">
    <h1>Thank you for writing in my blog post!</h1>
    <p>When epaminondas has some spare time, he will review your blog post. For now you'll have to hit f5 and hope for the best.</p>
    <a class="underline" href="/blog">Go back to Blog.</a>
  </div>
</div>
{{ template "footer" . }}
{{ end }}
