{{ template "base" . }}
<div class="container mx-auto px-4 py-8">
  <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-xl p-8 lg:p-12">
    {{if .post}}
    <h1 class="text-4xl lg:text-5xl font-extrabold text-gray-900 leading-tight mb-4">{{.title}}</h1>
    
    <div class="prose prose-lg max-w-none text-gray-800 mb-8">
      {{ .content }}
    </div>
    
    <p class="text-center text-xl text-gray-600 font-medium mb-12 border-t pt-4">
        Accessed {{ .post.Seen }} times.
    </p>
    <div 
        id="comment" 
        data-id="{{.post.ID}}"
        data-slug="{{.post.Slug}}" 
        data-comments="{{.comments}}"
        data-like="{{.post.Likes}}"
        class="mt-12 pt-6 border-t border-gray-200"
        data-current-user="{{.post.AuthorName}}"
    >
        <p class="text-center text-gray-500">Loading interactive comments...</p>
    </div>
    {{else}}
    <p class="text-center text-xl text-gray-600 font-medium">No blog post with this slug.</p>
    {{end}}
  </div>
</div>
