{{ template "base" . }}
<div class="app" id="blog">
  <h1>{{.title}}</h1>
  {{if .posts}}
  <div class="box">
    {{range .posts}}
    <article>
      <h2><a href="/blog/{{.Slug}}" class="post_anchor">{{.Title}}</a></h2>
      <p>Published: {{.PublishedAt}}</p>
      <p>Author: {{.AuthorName}}</p>
    </article>
    {{end}}
  </div>
  {{else}}
  <p>No blog posts available.</p>
  {{end}}

  <a href="/blog/new/">New blog</a>
  {{if .username}}
  <p>Hi {{.username}}</p>
  <form action="/logout" method="get">
    <input type="hidden" id="username" name="username" value="{{.username}}" />
    <input type="submit" value="Logout!" />
  </form>
  {{else}}
  <a href="/login">Login</a>
  {{end}}


</div>