{{ template "base" . }}
<div class="app" id="blog">
  <h1>{{.title}}</h1>
  {{if .posts}}
  <div class="box">
    <ul>
      {{range .posts}}
      <li>
        <h2><a href="/posts/{{.Slug}}">{{.Title}}</a></h2>
        <p>Published: {{.PublishedAt.Format "January 2, 2006"}}</p>
        <p>{{.Content}}</p>
      </li>
      {{end}}
    </ul>
  </div>
  {{else}}
  <p>No blog posts available.</p>
  {{end}}
  <div id=new>
    <textarea id="my-text-area"></textarea>
  </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
  const easyMDE = new EasyMDE({ element: document.getElementById('my-text-area') });
</script>