{{ define "header" }}
<nav class="bg-green-400 shadow-md">
  <div class="container mx-auto px-6 py-4 flex justify-between items-center">

    <a href="/" class="text-2xl font-bold text-gray-800">
      salada.dev
    </a>

    <div class="hidden md:flex flex-1 justify-end items-center space-x-8">
      <ul class="flex space-x-6 md:space-x-8 items-center">
        <li><a href="/" class="text-gray-600 hover:text-gray-900 transition-colors duration-300 font-medium">Home</a>
        </li>
        <li><a href="/about/"
            class="text-gray-600 hover:text-gray-900 transition-colors duration-300 font-medium">About</a></li>
        <li><a href="/blog/"
            class="text-gray-600 hover:text-gray-900 transition-colors duration-300 font-medium">Blog</a></li>
        <li><a href="/contact/"
            class="text-gray-600 hover:text-gray-900 transition-colors duration-300 font-medium">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}