{{ template "scripts" . }}
{{ template "header" . }}
<h1>
  {{ .title }}
</h1>
<div class="app">
  <article class="main">
    <p>if I had to write a book, I'm not sure it would be in brazilian portuguese or american english. but no, I am
      running a website out of the cloud. browsers smartphones tablets fridges bots drones smartwatches AI models all
      think in english bytes so this is our defacto standard, to Isaac Newtows delight. </p>
  </article>

  <img class="me_pic" src="images/me.jpeg" alt="Hardcore Emocore" height="400">


</div>
{{ template "footer" . }}