[Install]
WantedBy=default.target

[Container]
PublishPort=5432:5432
IP=192.168.30.10
Image=docker.io/library/postgres:latest
ContainerName=salada-db
Network=salada.network
Volume=salada-db.volume:/var/lib/postgresql/data
Secret=postgres-password-kube,type=env,target=POSTGRES_PASSWORD
