[Install]
WantedBy=default.target

[Container]
Image=docker.io/library/postgres:latest
ContainerName=salada-db
Network=salada.network
Secret=postgres-password-kube,type=env,target=POSTGRES_PASSWORD
Volume=/data/pg:/var/lib/postgresql/data:Z
