# ~/.config/containers/systemd/salada.container
[Unit]
Requires=salada-db.service
After=salada-db.service

[Service]
KillMode=mixed
TimeoutStopSec=30

[Install]
WantedBy=default.target

[Container]
ContainerName=salada
Image=localhost/salada:latest
Network=host
EnvironmentFile=../env
Volume=salada-uploads.volume:/app/uploads:Z
Volume=salada-cache.volume:/var/www/.cache
