# ~/.config/containers/systemd/salada.container
[Unit]
Requires=salada-db.service
After=salada-db.service

[Install]
WantedBy=default.target

[Container]
ContainerName=salada
Image=localhost/salada:latest
Network=salada.network
PublishPort=8080:8080
PublishPort=443:443
EnvironmentFile=../env
